body {
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #674A38;
    }
    
    .wrapper {
    background-color: #191B24;
    padding: 20px;
    border-radius: 10px;
    }
    
    h1, pattern {
    color: #FDE7D5;
    }

    nav-bar {
        background-color: #674A38;
    }