body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #674A38;
    padding: 0.5rem 1rem;
}

.site-title {
    font-size: 2.5rem;
    color: #FDE7D5;
}

.navbar-links, a {
    color: #FDE7D5;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.main {
    background-color: #191B24;
    color: #FDE7D5;
    padding: 1rem;
    min-height: 100vh;

}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px);
    margin-top: -80px;
}

.main-img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

.divider {
    display: flex;
    justify-content: center;
    margin-top: -12px;
    background-color: #191B24;
    max-height: 3rem;

}

.divider-image {
    width: 100%;
    max-height: 100%;
}
