:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-semi: 600;
    --fw-bold: 900;

    --clr-main-bg: #191B24;
    --clr-alt-bg: #674A38;
    --clr-main: #FDE7D5;
    --clr-second: #3C1B23;
    --clr-alt-main: #E5F6EE;
    --clr-alt-second: #15511D;
    --clr-main-hover: #F16D1B;
    --clr-alt-hover: #72C19B;

    
    --fs-h1: 40px;
    --fs-sub-head: 32px;
    --fs-h2: 24px;
    --fs-h3: 1.25rem;
    --fs-body: 22px;
    --fs-body-sm: 16px;
    --fs-xl: 60px;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #674A38;
    padding: 0.5rem 1rem;
}

.site-title {
    font-size: 2.5rem;
    color: #FDE7D5;
}

.navbar-links, a {
    color: #FDE7D5;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.main {
    background-color: #191B24;
    color: #FDE7D5;
    padding: 1rem;
    min-height: 100vh;

}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px);
    margin-top: -100px;
}

.main-img {
    position: absolute;
    max-width: 100%;
    max-height: 70vh;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 10;
}

.divider {
    display: flex;
    justify-content: center;
    margin-top: -12px;
    background-color: #191B24;
    max-height: 3rem;

}

.divider-image {
    width: 100%;
    max-height: 100%;
}

.headline, .subhead {
    text-align: center;
    margin: 0;
}

.subhead {
    margin: 20px 20vw 32px 20vw;
}

.input-text {
    height: .5rem;
    width: 20vw;
    padding: 12px;
    border-color: transparent;
    background-color: white;
    opacity: 80%;
    box-shadow: var(--bs);
    color: var(--clr-main-bg);
}
